<h2 style="text-align: center">Create Tests</h2>
<div id="form-container" class="oj-form-layout">
  <div class="oj-form">
    <div class="oj-flex">  
      <div class="oj-flex-item">
        <label for="testname">Test Name</label>
        <input id="testname" data-bind="ojComponent: 
                   {component: 'ojInputText', value: testname, required: true}">
      </div>
    </div>
    <div class="oj-flex">  
      <div class="oj-flex-item">
        <label for="noOfQues">No. of Questions</label>
        <input id="noOfQues" data-bind="ojComponent: {component: 'ojInputText', value: noOfQues}">
      </div>
    </div>
      <div class="oj-flex">  
      <div class="oj-flex-item">
        <label for="start_date">Start Date</label>
        <input id="start_date" data-bind="ojComponent: {component: 'ojInputText', value: start_date}">
      </div>
    </div>
      <div class="oj-flex">  
      <div class="oj-flex-item">
        <label for="start_time">Start Time</label>
        <input id="start_time" data-bind="ojComponent: {component: 'ojInputText', value: start_time}">
      </div>
    </div>
      <div class="oj-flex">  
      <div class="oj-flex-item">
        <label for="duration">Duration</label>
        <input id="duration" data-bind="ojComponent: {component: 'ojInputText', value: duration}">
      </div>
    </div>
  </div>
</div>